h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

h6 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

span {
    font-size: 1rem;
    color: red;
    margin-bottom: 1rem;
}

div {
    margin-bottom: 1rem;
}

NavLink {
    font-size: 1rem;
    color: blue;
    text-decoration: none;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

    button:hover {
        background-color: #0069d9;
    }
